<<<<<<< HEAD
html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
=======
html,
body, div {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
>>>>>>> 14bf74ab311a3aa2d4135cfc8355493882f8d9b8
